/database/DB-model.mwb.bak
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!mysql-connector-java-5.1.37-bin.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/banana-stock-manager/nbproject/private/
/banana-stock-manager/build/
/banana-stock-manager/nbbuild/
/banana-stock-manager/dist/
/banana-stock-manager/nbdist/
/banana-stock-manager/nbactions.xml
/banana-stock-manager/.nb-gradle/
/jpaproject/nbproject/private/
/jpaproject/build/
/Banana-Manager/target/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
/BananaManager/nbproject/private/
/BananaManager/dist/
/BananaManager/build/